<ion-header [translucent]="true">
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header  color="primary" style="width: 100%;">
      <div style="display: inline-block; margin-right: 190px;">XYZ</div><div><ion-icon name="call-outline" style="display: inline-block;" size="large"></ion-icon></div>
    </ion-list-header>
  <ion-item style="width:100%; margin-bottom: 10px; border-radius: 25px;margin-top: 10px;" color="warning">
      <ion-icon name="logo-whatsapp" size="large" style="display: inline-block; margin-right: 50px;background-color: white; border-radius: 15px;"></ion-icon>
    <ion-label>
      <h2 style="display: inline-block;">Import</h2>
    </ion-label>
  </ion-item>
  <ion-item style="width:100%; margin-bottom: 10px; border-radius: 25px;" color="warning">
      <ion-icon name="accessibility-outline" size="large" style="display: inline-block;margin-right: 50px;background-color: white;  border-radius: 15px;"></ion-icon>
    <ion-label>
      <h2 style="display: inline-block;">Export</h2>
    </ion-label>
  </ion-item>
  <ion-item style="width:100%; margin-bottom: 10px; border-radius: 25px;" color="warning">
      <ion-icon name="aperture-outline" size="large" style="display: inline-block;margin-right: 50px;background-color: white; border-radius: 15px;"></ion-icon>
    <ion-label>
      <h2 style="display: inline-block;">Buffer</h2>
    </ion-label>
  </ion-item>
  <ion-item style="width:100%; margin-bottom: 10px;border-radius: 25px;" color="warning">
      <ion-icon name="archive-outline" size="large" style="display: inline-block;margin-right: 50px;background-color: white; border-radius: 15px;"></ion-icon>
    <ion-label>
      <h2 style="display: inline-block;">Bond</h2>
    </ion-label>
  </ion-item>
</ion-list>
</ion-content>